<app-searchbar (messageEvent)="handleMessage($event)"/>
<!--<section class="searchContainer">
        <div class="searchButton">🔍</div>
        <input
            type="text"
            placeholder="Pesquisar por título, autor ou categoria..."
            class="searchInput"
            autocomplete="off"
            name="search"
            #searchQuery
            (input)="onSearchUpdated(searchQuery.value)"/>
                    

        @if(searchQuery.value){
            <button 
                (click)="searchQuery.value='';clear()"
                class="clearButton"
                aria-label="Limpar pesquisa">×</button>
        }
</section>-->
<section class="results">
    @for(session of filteredSessionList(); track session.pauta.nome){
        <app-session-card [session]="session"></app-session-card>
    }
    @empty {
        <div class="not-found">Nenhuma pauta disponível</div>
    }
</section>