.searchContainer {
  position: relative;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  padding-right: 0;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.searchInput {
  width: 100%;
  padding: 0.8rem 2rem 0.8rem 2.2rem;
  border: 2px solid #ddd;
  border-radius: 25px;
  font-size: 1rem;
  transition: all 0.3s ease;
  box-shadow: 0 10px 40px 0 #B0C1D9;
}

.searchInput:focus {
  outline: none;
  border-color: #4CAF50;
  box-shadow: 0 0 8px rgba(76, 175, 80, 0.3);
}

.searchButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  font-size: 1.2rem;
  color: #666;
}

.searchButton:hover {
  color: #4CAF50;
}

.clearButton {
  position: absolute;
  right: 0rem;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: #666;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 0 1rem;
}

.clearButton:hover {
  color: #333;
}

.results {
  display: grid;
  column-gap: 14px;
  row-gap: 14px;
  justify-content: space-around;
  grid-template-columns: repeat(3, minmax(350px, 350px));
  grid-auto-rows: max-content;
}

.not-found{
  display: grid;
  background: var(--accent-color);
  width: 100%;
  min-width: 400px;
  grid-column-start: 1;
  grid-column-end: 4;
  font-size: 1.5rem;
  font-weight: bold; 
  text-align: center;
  border: 2px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 1rem 0rem 1rem 0rem;
}

@media (min-width: 900px) and (max-width: 1200px) {
  .results {
      grid-template-columns: repeat(3, 1fr);
  }
  .not-found{
    min-width: 300px;
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

@media (min-width: 600px) and (max-width: 900px) {
  .results {
      grid-template-columns: repeat(2, 1fr);
  }
  .not-found{
    min-width: 300px;
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

@media (max-width: 600px) {
  .results {
      grid-template-columns: repeat(auto-fill, minmax(350px, 450px));
  }
  .not-found{
    min-width: 200px;
    grid-column-start: 1;
    grid-column-end: 3;
  }
}