
.brand-logo{
  width: 34px;
  height: 34px;
  padding-left: 0.5rem;
}

.head-title {
  width: 100%;
  padding: 0.5rem 1rem 0.5rem 1rem;

}

.logged-user {
  text-align: center;
}

.avatar-user {
  border-radius: 9999px;
  display: inline-flex;
  flex-shrink: 0;
  background: rgb(92, 84, 180);
  color: #1A202C;
  vertical-align: top;
  width: 2rem;
  height: 2rem;
  font-size: calc(0.6rem);
  margin-right: -1.2rem;
}

.img-avatar-user {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 9999px;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

