:host {
  --content-padding: 10px;
}
main {
  display: block;
  position: relative;
}

header {
  display: flex;
  grid-area: header;
  width: 100%;
  max-width: 100%;
  box-shadow: 0px 5px 25px var(--shadow-color);
}

.head-container {
  position: relative;
  width: var(--chakra-sizes-full);
}

.head-menu {
  display: inline-flex;
  appearance: none;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  user-select: none;
  position: relative;
  white-space: nowrap;
  vertical-align: middle;
  outline: transparent solid 2px;
  outline-offset: 2px;
  width: auto;
  line-height: 1.2;
  border-radius: var(--chakra-radii-md);
  font-weight: var(--chakra-fontWeights-semibold);
  transition-property: var(--chakra-transition-property-common);
  transition-duration: var(--chakra-transition-duration-normal);
  height: var(--chakra-sizes-10);
  min-width: var(--chakra-sizes-10);
  font-size: var(--chakra-fontSizes-xl);
  padding-inline-start: var(--chakra-space-4);
  padding-inline-end: var(--chakra-space-4);
  color: var(--chakra-colors-primary-600);
  background: var(--chakra-colors-transparent);
  padding: 0px;
  margin-right: var(--chakra-space-4);
}

.brand-logo{
  width: 34px;
  height: 34px;
}

.head-title {
  width: 100%;
  padding: 0.5rem 1rem 0.5rem 1rem;
  
}

.css-alc8zz {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.navgroup {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 56px;
    box-shadow: var(--chakra-shadows-base);
    background: var(--chakra-colors-white);
}
.navbar {
    width: 100%;
    margin-inline: auto;
    max-width: 100%;
    padding-inline-start: var(--chakra-space-2);
    padding-inline-end: var(--chakra-space-2);
    margin-top: auto;
    margin-bottom: auto;
}

.internal-navbar{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.nav-left {
    display: none;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

@media screen and (min-width: 24em) {
    .nav-left {
        display: flex;
    }
}

.nav-right{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row;
    gap: var(--chakra-space-2);
}

.btn-associado{
    display: inline-flex;
    appearance: none;
    -webkit-box-align: center;
    align-items: center;
    outline: transparent solid 2px;
    outline-offset: 2px;
    transition-property: var(--chakra-transition-property-common);
    transition-duration: var(--chakra-transition-duration-normal);
    border-radius: var(--chakra-radii-full);
}

.group-associado {
    display: none;
    vertical-align: top;
    -webkit-box-align: center;
    align-items: center;
    max-width: 100%;
    font-weight: var(--chakra-fontWeights-medium);
    line-height: 1.2;
    outline: transparent solid 2px;
    outline-offset: 2px;
    min-height: var(--chakra-sizes-8);
    min-width: var(--chakra-sizes-8);
    font-size: var(--chakra-fontSizes-md);
    border-radius: var(--chakra-radii-full);
    padding-inline-start: var(--chakra-space-3);
    padding-inline-end: var(--chakra-space-3);
    background: var(--chakra-colors-gray-100);
    color: var(--chakra-colors-gray-800);
}

@media screen and (min-width: 24em) {
    .group-associado {
        display: flex;
    }
}

.title-associado {
  line-height: 1.2;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: gray;
  margin-right: var(--chakra-space-2);
}

.avatar-associado {
  border-radius: var(--chakra-radii-full);
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  font-weight: var(--chakra-fontWeights-medium);
  position: relative;
  flex-shrink: 0;
  background: rgb(180, 137, 84);
  color: var(--chakra-colors-gray-800);
  border-color: var(--chakra-colors-white);
  vertical-align: top;
  width: var(--chakra-sizes-6);
  height: var(--chakra-sizes-6);
  font-size: calc(0.6rem);
  margin-right: var(--chakra-space-1);
}

.img-avatar-associado {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--chakra-radii-full);
}

.content {
  padding: var(--content-padding);
}