<mat-toolbar class="shadow">
  <button matIconButton class="example-icon" aria-label="Menu option">
    <mat-icon>menu</mat-icon>
  </button>
  <img alt="Votacao" class="brand-logo" src="/assets/logo.png" alt="logo" aria-hidden="true" title="Votação App">
  <span class="head-title">{{title}}</span>
  <span class="example-spacer"></span>
  <section>
      <button matButton="elevated">
        <span class="logged-user">
          {{loggedUser}}
        </span>
        <span class="avatar-user">
          <img src="" alt="Leonardo" class="img-avatar-user">
        </span>
      </button>
  </section>
</mat-toolbar>